@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background: red;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header > .header-links{
    display: flex;
    gap: 16px;
    
}

.logo > img {
    width: 100px;
    height: 50px;
}

.header, .first-section {
    background: url(./images/tirana.jpeg) no-repeat center center fixed;
    background-size: cover;
    padding: 24px;
}

a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.first-section {
    display: flex;   
    align-items: center;
    padding: 284px;
}

.image > img {
    width: 400px;
    height: 250px;
}

.awesome > .title {
    color: black;
    font-size: 48px;
    font-weight: 1000;
}

.awesome > .text {
    color: black;
    font-size: 18px;
}

button {
    background-color: black;
    color: red;
    flex-shrink: 0;
    padding: 8px 16px;
    font-family: Roboto, sans-serif;
    border-radius: 8px;
}

.awesome > button {
    border: none;
}

.button > button {
    border-color: red;
}

.second-section {
    text-align: center;
    padding: 84px;
    background: red;
}

.second-section > .title {
    color: black;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.second-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info > .text {
    color: black;
    font-weight: 800;
    font-family: Roboto, sans-serif;
}

.info {
    max-width: 200px;
}

.info > img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 8px;
}

.quote {
    background: black;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
}

.quote > p {
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    color: red;
}

.quote > b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-weight: 800;
    color: red;
    text-align: right;
}

.fourth-section {
    background-color: black;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px;
    margin: 64px;
}

.action > .title {
    color: red;
    font-weight: 1000;
    font-size: 21px;
}

.action > .text {
    color: red;
    font-size: 14px;
}

.footer {
    background-color: black;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}